/* ==================================
=========================== reset css
================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #ffffff;
  background: #6fc05b;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  overflow: visible;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: unset;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: unset;
  -webkit-transition: background-color 5000s;
  transition: background-color 5000s;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.object-fit--contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.user-select-none {
  pointer-events: none;
}

.list-inline {
  font-size: 0;
}

.list-inline-item {
  font-size: 1rem;
}

/* ==================================
========================== common css
================================== */

:root {
  --primary-font: " Raleway ", sans-serif;
  --primary-color: #f5f5eb;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==================================
==============button 57 css
================================== */

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 25px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* ==================================
========================== navbar css
================================== */

#nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  transition: all linear 0.4s;
}

#nav .middle .logo {
  height: 100px;
  width: 150px;
}
#nav .nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .nav_container ul {
  display: flex;
  gap: 40px;
}
#nav .nav_container ul li {
  padding: 20px 0;
}
#nav .nav_container ul li a {
  font-family: var(--primary-font);
  font-weight: 200;
}

#nav.scrolled {
  background-color: #f5f5eb;
  position: fixed;
  color: grey;
}

/* ==================================
========== banner video section css
================================== */

.video-banner {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center text content */
  color: white; /* Adjust color for readability */
}

/* Hide video controls */
.video::-webkit-media-controls-overlay {
  display: none;
}

.video::-moz-media-controls-panel {
  display: none;
}

/* ==================================
===== scroll products section  css
================================== */

.scroll_product {
  display: flex;
  justify-content: space-between; /* Add padding for spacing */
}
.scroll_product .main {
  display: flex;
}

.scroll_product .overflow-auto {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh; /* Adjust max-height as needed */
  width: 100%; /* Set width for each scrollable container */
  /* Hide scrollbars */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    /* Chrome/Safari */
    display: none;
  }
}

.scroll_product .overflow-auto .image-container {
  position: relative;
}

.scroll_product .overflow-auto img {
  display: block;
  width: 100%;
  height: 1000px;
}

.scroll_product .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.scroll_product .overlay:hover {
  opacity: 1; /* Show overlay on hover */
}

.scroll_product .overlay .title {
  color: white;
  font-size: 24px; /* Adjust title font size */
}

/* ==================================
===== image banner section  css
================================== */

.image-banner-section {
  position: relative;
  height: 800px; /* Adjust the height as needed */
  background-image: url("../images/home/fashionable-boutique-owner-measures-dress-black-white-studio-generated-by-ai.jpg");
  background-size: cover;
  background-position: center;
  color: white; /* Text color */
  text-align: center;
}

.image-centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ==================================
===== footer section  css
================================== */

.footer {
  padding: 70px 0;
}
.footer .footer_content {
  display: flex;
  justify-content: space-between;
}
.footer .footer_content ul {
  display: flex;
  gap: 20px;
}
.footer .footer_content ul li a {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 13px;
  color: grey;
  font-family: var(--primary-font);
}
.footer .footer_content .subscribe button {
  background-color: white;
  border: none;
  padding: 5px 20px;
  color: grey;
}
.footer .footer_content .footer_label {
  padding: 5px 20px;
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
