/* ==================================
=========================== reset css
================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #ffffff;
  background: #6fc05b;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--primary-color);
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: unset;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: unset;
  -webkit-transition: background-color 5000s;
  transition: background-color 5000s;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.object-fit--contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.user-select-none {
  pointer-events: none;
}

.list-inline {
  font-size: 0;
}

.list-inline-item {
  font-size: 1rem;
}

/* ==================================
========================== common css
================================== */

:root {
  --primary-font: " Raleway ", sans-serif;
  --primary-color: #f5f5eb;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
