@font-face {
  font-family: "francy"; /* Choose a name for your font */
  src: url("../font/Francy.ttf") format("ttf");
  /* Add more src lines if you have different font file formats */
  /* You can also include local() to reference a locally installed copy of the font */
}
@font-face {
  font-family: "ethos-nova"; /* Choose a name for your font */
  src: url("../font/EthosNova-Medium.woff") format("woff");
  /* Add more src lines if you have different font file formats */
  /* You can also include local() to reference a locally installed copy of the font */
}

/* ==================================
=========================== reset css
================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #ffffff;
  background: #6fc05b;
}

html,
body {
  scroll-behavior: smooth;
  /* background-color: var(--primary-color); */
  margin: 0;
  padding: 0;
  overflow: visible;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: unset;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: unset;
  -webkit-transition: background-color 5000s;
  transition: background-color 5000s;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.object-fit--contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.user-select-none {
  pointer-events: none;
}

.list-inline {
  font-size: 0;
}

.list-inline-item {
  font-size: 1rem;
}

/* ==================================
========================== common css
================================== */

:root {
  --primary-font: " Raleway ", sans-serif;
  --secondary-font: "Lora", serif;
  --primary-color: #f5f5eb;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==================================
==============button 57 and 39 css
================================== */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 25px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.button-39 {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249, 250, 251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}
/* ==================================
========================== navbar css
================================== */

#nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  transition: all linear 0.4s;
}
#nav ul {
  margin-bottom: 0;
}

#nav .middle .logo {
  height: 90px;
  width: 150px;
}
#nav .nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .nav_container .left,
.middle {
  display: flex;
  width: 33%;
}
#nav .nav_container .middle {
  justify-content: center;
}
#nav .nav_container .right {
  justify-content: end;
  width: 33%;
  display: flex;
}
#nav .nav_container ul {
  display: flex;
  gap: 40px;
}
#nav .nav_container ul li {
  padding: 20px 0;
}
#nav .nav_container ul li a {
  font-family: var(--primary-font);
  font-weight: 200;
}

#nav.scrolled {
  /* background-color: #f5f5eb; */
  background-color: white;
  position: fixed;
  color: grey;
}

/* ==================================
========== banner video section css
================================== */

.video-banner {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center text content */
  color: white; /* Adjust color for readability */
}

/* Hide video controls */
.video::-webkit-media-controls-overlay {
  display: none;
}

.video::-moz-media-controls-panel {
  display: none;
}

/* ==================================
===== scroll products section  css
================================== */

.scroll_product {
  display: flex;
  justify-content: space-between; /* Add padding for spacing */
}
.scroll_product .main {
  display: flex;
}

.scroll_product .overflow-auto {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh; /* Adjust max-height as needed */
  width: 100%; /* Set width for each scrollable container */
  /* Hide scrollbars */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    /* Chrome/Safari */
    display: none;
  }
}

.scroll_product .overflow-auto .image-container {
  position: relative;
}

.scroll_product .overflow-auto img {
  display: block;
  width: 100%;
  height: 1000px;
}

.scroll_product .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.scroll_product .overlay:hover {
  opacity: 1; /* Show overlay on hover */
}

.scroll_product .overlay .title {
  color: white;
  font-size: 24px; /* Adjust title font size */
}

/* ==================================
===== image banner section  css
================================== */

.image-banner-section {
  position: relative;
  height: 800px; /* Adjust the height as needed */
  background-image: url("../images/home/fashionable-boutique-owner-measures-dress-black-white-studio-generated-by-ai.jpg");
  background-size: cover;
  background-position: center;
  color: white; /* Text color */
  text-align: center;
}

.image-centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title_div h2 {
  text-align: center;
  font-family: var(--primary-font);
  padding: 70px 0;
  font-weight: 600;
  font-size: 35px;
}

/* ==================================
===== footer section  css
================================== */

.footer {
  padding: 70px 0;
}
.footer .footer_content {
  display: flex;
  justify-content: space-between;
}
.footer .footer_content ul {
  display: flex;
  gap: 20px;
}
.footer .footer_content ul li a {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 13px;
  color: grey;
  font-family: var(--primary-font);
}
.footer .footer_content .subscribe button {
  background-color: white;
  border: 0.5px solid grey;
  padding: 11px 20px;
  color: grey;
  border-radius: 10px;
}
.footer .footer_content .footer_label {
  padding: 10px 20px 10px 0;
  border: none;
  border-bottom: 1px solid black;
}
.footer .links ul li {
  position: relative;
  transition: all linear 0.4s;
}
.footer .links ul li::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: black;
  transition: all linear 0.4s;
}
.footer .links ul li:hover:after {
  width: 100%;
}

/* ==================================
===== about banner section  css
================================== */

.man_banner {
  height: 100vh; /* Adjust the height as needed */
  background-image: url("../images/men/man_banner.jpeg");
  background-size: cover;
  background-position: top;
  color: white; /* Text color */
  text-align: center;
}
.man_banner h1 {
  font-size: 100px;
  font-family: francy;
  line-height: 80px;
}

/* ==================================
===== about new colllection section  css
================================== */

.new_man {
  padding: 20px 0;
}
.new_man h2 {
  padding: 10px 0px 50px 0px;
  font-size: 30px;
  font-family: var(--primary-font);
  font-weight: 600;
}
.new_man .slider-container {
  width: 100%;
  overflow: hidden;
}

.new_man .slider-container .slider {
  display: flex;
  animation: slide 40s linear infinite; /* Adjust animation duration as needed */
}

.new_man .slider-container .slide {
  flex: 0 0 25%; /* Each slide takes up 25% of the slider width */
  padding: 0 5px;
  position: relative;
  transition: all linear 0.4s; /* Include `background-image` in transition */
}

.new_man .slider-container .slider.paused {
  /* Add your desired visual styles here */
  animation-play-state: paused; /* Pause the animation */
}

.new_man .slider-container .slide > img {
  width: 100%;
  height: 600px;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.new_man .slider-container .slide:hover > .overlay {
  opacity: 1; /* Slide overlay in from bottom on hover */
  bottom: 0;
  transition: all linear 0.2s;
}

.new_man .slider-container .overlay {
  position: absolute;
  bottom: -100%; /* Initially hidden below the slide */
  left: 5px;
  width: 100%;
  transition: all linear 0.3s; /* Add transition effect */
  opacity: 0;
  z-index: 999;
  text-align: center;
}
.new_man .slider-container .hover_img {
  position: relative;
}
.new_man .slider-container .hover_img > img {
  height: 600px;
  width: 98%;
}

.new_man .slider-container .overlay h2 {
  color: white;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ==================================
===== about all colllection section  css
================================== */

.all {
  padding: 20px 0;
}
.all h2 {
  padding: 50px 0;
  font-size: 30px;
  font-family: var(--primary-font);
  font-weight: 600;
}

.all .main {
  padding: 6px 0;
}
.all .main .product_details {
  padding: 20px;
  margin-top: 25px;
}
.all .main .product_details p {
  font-size: 16px;
  font-family: ethos-nova;
  color: grey;
  line-height: 5px;
}
.all .main .product_details h6 {
  font-size: 15px;
  font-family: ethos-nova;
  color: rgb(101, 99, 99);
}

.all .products {
  position: relative;
}

.all .slide-image {
  width: 100%;
  height: 500px;
}

.all .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.all .products:hover .overlay {
  opacity: 1;
}

.all .hover_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.all .overlay:hover .hover_img {
  display: block;
}
.all .overlay h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
